# Vercel KV connection
# These variables will be automatically set when you link your project to Vercel KV
KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=

# MongoDB connection string
# Format: mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<database>?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/pumpfoiling?retryWrites=true&w=majority

# MongoDB database name (can be omitted if specified in the URI)
MONGODB_DB=pumpfoiling 